<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="style.scss">
</head>

<body class="ecommerce-page">

    <div class="wrapper">
        <div id="carouselExampleIndicators" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item">
                    <div class="page-header header-filter">
                        <div class="page-header-image" style="background-image: url('https://images.pexels.com/photos/416160/pexels-photo-416160.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');"></div>
                        <div class="content-center text-center">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto2">
                                    <h1 class="title">Les chatons les plus mignons</h1>
                                    <h4 class="description text-white">Des boules de poils trop choupinous</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item active">
                    <div class="page-header header-filter">
                        <div class="page-header-image" style="background-image: url('https://images.pexels.com/photos/39255/cat-favorite-relaxation-rest-39255.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');"></div>
                        <div class="content-center">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto text-center">
                                    <h1 class="title">Les chatons les plus cons</h1>
                                    <h4 class="description text-white">Idiots et rigolos nous les avons tous</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="page-header header-filter">
                        <div class="page-header-image" style="background-image: url('https://images.pexels.com/photos/171227/pexels-photo-171227.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');"></div>
                        <div class="content-center text-center">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto">
                                    <h1 class="title">Trop Lolilol</h1>
                                    <h4 class="description text-white">HIHIHIHIHIHIHIHIHI (putain c'est con)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <i class="now-ui-icons arrows-1_minimal-left"></i>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <i class="now-ui-icons arrows-1_minimal-right"></i>
            </a>
        </div>
        <div class="main">
            <div class="section">
                <div class="container">
                    <h2 class="section-title">Tout nos chatons</h2>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="collapse-panel">
                                <div class="card-body">
                                    <div class="card card-refine card-plain">
                                        <h4 class="card-title">
                                            Rechercher
                                            <button class="btn btn-default btn-icon btn-neutral pull-right" rel="tooltip" title="Reset Filter">
                                                <i class="arrows-1_refresh-69 now-ui-icons"></i>
                                            </button>
                                        </h4>
                                        <div class="card-header" role="tab" id="headingOne">
                                            <h6 class="mb-0">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Prix
                                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="card-body">
                                                <span id="price-left" class="price-left pull-left" data-currency="&euro;">0</span>
                                                <span id="price-right" class="price-right pull-right" data-currency="&euro;">1000</span>
                                                <div class="clearfix"></div>
                                                <div id="sliderRefine" class="slider slider-refine"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-refine card-plain">
                                        <div class="card-header" role="tab" id="headingTwo">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Races
                                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="card-body">
                                                <div class="checkbox">
                                                    <input id="checkbox1" type="checkbox" checked="">
                                                    <label for="checkbox1">
                                                        Gouttière
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="checkbox2" type="checkbox">
                                                    <label for="checkbox2">
                                                        Siamois
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3">
                                                        Maine Coon
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-refine card-plain">
                                        <div class="card-header" role="tab" id="headingThree">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Style
                                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <div class="checkbox">
                                                    <input id="checkbox9" type="checkbox">
                                                    <label for="checkbox9">
                                                        Gaudriole
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="checkbox10" type="checkbox">
                                                    <label for="checkbox10">
                                                        Chutes
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="checkbox11" type="checkbox">
                                                    <label for="checkbox11">
                                                        Feu
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">

                          <%@items.each do |item|%>
                          <div class="col-lg-4 col-md-6">
                            <div class="card card-product card-plain">
                              <div class="card-image">
                                <a href="#">
                                  <img src="https://images.pexels.com/photos/416160/pexels-photo-416160.jpeg?auto=compress&cs=tinysrgb&h=120&w=250" alt="chaton" />
                                </a>
                                </div>
                                <div class="card-body">
                                <a href="#">
                                  <h4 class="card-title"><%= item.title %></h4>
                                </a>
                                <p class="card-description">
                                  <%= item.description %>
                                </p>
                                <div class="card-footer">
                                  <div class="price-container">
                                    <span class="price"> &euro; <%= item.price %></span>
                                  </div>
                                  <button class="btn btn-danger btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="Remove from wishlist" data-placement="left">
                                    <i class="fas fa-heart"></i>
                                  </button>
                                  <center>
                                  <div class="container">
                                  <%= link_to "Voir le produit", item_path(item), class:"btn btn-primary boutton " %>
                                  </br></br>
                                  <%= button_to  "Ajouter au panier", join_cart_items_path(:item_id => @item_id), method: :post , class: "btn btn-secondary mr-3"%> 
                                  </div>
                                  </center>
                                </div>
                              </div>
                            </div>
                          </div>
                          <%end%>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- end-main-raised -->
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function() {

        var slider2 = document.getElementById('sliderRefine');

        noUiSlider.create(slider2, {
            start: [42, 880],
            connect: true,
            range: {
                'min': [30],
                'max': [900]
            }
        });

        var limitFieldMin = document.getElementById('price-left');
        var limitFieldMax = document.getElementById('price-right');

        slider2.noUiSlider.on('update', function(values, handle) {
            if (handle) {
                limitFieldMax.innerHTML = $('#price-right').data('currency') + Math.round(values[handle]);
            } else {
                limitFieldMin.innerHTML = $('#price-left').data('currency') + Math.round(values[handle]);
            }
        });
    });
</script>

</html>
